:root {

    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(31, 53%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-225: 18px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-375: 30px;
    --spacing-400: 32px;
    --spacing-450: 40px;
    --spacing-500: 48px;
}

.text-preset-1 {
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-2 {
    line-height: 140%;
    letter-spacing: 0px;
}

.young-serif-400 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-400 {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.outfit-600 {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

.outfit-700 {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.text-brown {
    color: var(--brown-800);
}

.container {
    background-color: var(--white);
    padding: var(--spacing-450);
    margin: 100px auto;
    border-radius: var(--spacing-250);

    width: 736px;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-375);

    h1 {
        font-size: var(--spacing-450);
        color: var(--stone-900);
    }

    h2 {
        font-size: var(--spacing-400);
        color: var(--brown-800);
    }

    img {
        border-radius: var(--spacing-250);
    }
}

@media screen and (max-width: 768px) {

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;

        img {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
            display: block;
        }

        h1 {
            font-size: 2rem;
        }
    }
}

.meal {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-375);

    p {
        color: var(--stone-600);
    }
}

@media screen and (max-width:768px) {
    .meal {
        margin: 0 30px;
    }
}

.preparation {
    padding: var(--spacing-300);
    background-color: var(--rose-50);
    border-radius: var(--spacing-250);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);

    h2 {
        font-size: 24px;
        color: var(--rose-800);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-150);
        color: var(--rose-800);

        span {
            color: var(--stone-900);
        }

        p {
            display: block;
        }

        li {
            margin-left: var(--spacing-400);
        }
    }
}

.ingredients {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);

    ul {
        display: flex;
        flex-direction: column;
        margin-left: var(--spacing-400);
        color: var(--brown-800);
        gap: var(--spacing-150);

        p {
            color: var(--stone-600);
            margin-left: var(--spacing-250);
        }
    }
}

@media screen and (max-width:768px) {
    .ingredients {
        margin: 0 30px;
    }
}

.instructions {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);

    ol {
        display: flex;
        flex-direction: column;
        margin-left: var(--spacing-300);
        color: var(--brown-800);
        gap: var(--spacing-225);
        font-weight: 600;
    }

    span {
        color: var(--stone-600);
    }

    p {
        margin-left: var(--spacing-250);
        color: var(--stone-600);
    }
}

@media screen and (max-width:768px) {
    .instructions {
        margin: 0 20px;
    }
}

.nutrition {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);

    table {
        padding: 0 30px;

    }

    p {
        color: var(--stone-600);
    }

    tr {
        color: var(--stone-600);
    }

    td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:last-child td {
        border-bottom: none;
    }

    tr:last-child td {
        padding-bottom: 0;
    }

}

@media screen and (max-width:768px) {
    .nutrition {
        margin: 0 20px;
        margin-bottom: 40px;
    }
}