* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    font-size: 14px;

    font-family: "Inter", sans-serif;

    /* spacing */
    --sp-500: 40px;
    --sp-300: 24px;
    --sp-200: 16px;

    background-color: var(--grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card {
    background-color: var(--grey-800);
    padding: var(--sp-500);

    border-radius: 10px;

    text-align: center;
}

.card-avatar {
    border-radius: 50%;
    width: 88px;
    margin-bottom: 24px;
}

.card-Introduction {
    display: flex;
    flex-direction: column;
    gap: var(--sp-300);

    margin-bottom: var(--sp-300);
}


.text-preset-1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--white);

    margin-bottom: 8px;
}

.text-preset-2 {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 600;
    color: var(--green);
}

.text-preset-3::before {
    content: '"'
}

.text-preset-3 {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--white);
}

.text-preset-3::after {
    content: '"';
}

.card-Links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    gap: var(--sp-200);

    li {
        background-color: var(--grey-700);
        width: 304px;
        border-radius: 10px;
        padding: 15px;
        color: var(--white);
        text-align: center;
        font-weight: 600;

        &:hover {
            cursor: pointer;
            color: var(--grey-900);
            background-color: var(--green);
        }
    }
}